---
import Typography from './wrappers/Typography.astro';
import Section from './wrappers/Section.astro';
import { Image } from 'astro:assets';
import {GET} from '../pages/api/images.json.ts'

const response = await GET(Astro);
const {images: _images} = await response.json();


const images = [
	{ src: '/images/rostidor.webp', alt: 'Restaurant interior' },
	{ src: '/images/rostidor.webp', alt: 'Gourmet dish with yellow sauce' },
	{ src: '/images/rostidor.webp', alt: 'Buffet spread' },
	{ src: '/images/rostidor.webp', alt: 'Chef cooking in large pot' },
	{ src: '/images/rostidor.webp', alt: 'Curry dish with naan bread' },
	{ src: '/images/rostidor.webp', alt: 'Busy restaurant with diners' },
];
---

<Section class="bg-white">
	<Typography variant="h3">Nosaltres al mon</Typography>
	<Typography variant="h2">Les nostres xarxes</Typography>
	<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
		{
			_images.map(({ media_url, caption } : {media_url:string, caption: string}) => (
				<div class="overflow-hidden rounded-lg shadow-md hover:shadow-xl transition-shadow duration-300">
					<Image
						src={media_url}
						alt={caption}
						width={300}
						height={400}
						class="w-full object-cover h-auto max-h-[400px]"
					/>
				</div>
			))
		}
	</div>
</Section>
