---
import Typography from './wrappers/Typography.astro';
import Section from './wrappers/Section.astro';
import { Image } from 'astro:assets';

const images = [
	{ src: '/src/assets/rostidor.webp', alt: 'Restaurant interior' },
	{ src: '/src/assets/rostidor.webp', alt: 'Gourmet dish with yellow sauce' },
	{ src: '/src/assets/rostidor.webp', alt: 'Buffet spread' },
	{ src: '/src/assets/rostidor.webp', alt: 'Chef cooking in large pot' },
	{ src: '/src/assets/rostidor.webp', alt: 'Curry dish with naan bread' },
	{ src: '/src/assets/rostidor.webp', alt: 'Busy restaurant with diners' },
];
---

<Section class="bg-white">
	<Typography variant="h3">Nosaltres al mon</Typography>
	<Typography variant="h2">Les nostres xarxes</Typography>
	<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
		{
			images.map(({ src, alt }) => (
				<div class="overflow-hidden rounded-lg shadow-md hover:shadow-xl transition-shadow duration-300">
					<Image
						src={src}
						alt={alt}
						width={400}
						height={600}
						class="w-full h-64 object-cover"
					/>
				</div>
			))
		}
	</div>
</Section>
