---
import Typography from './wrappers/Typography.astro';
import Section from './wrappers/Section.astro';
---

<Section class="bg-terciary">
	<div class="max-w-6xl mx-auto px-4 py-8 sm:px-6">
		<div class="text-center">
			<Typography variant="h3">
				Benvinguts al rostidor d'Arenys
			</Typography>
			<p class="text-6xl text-font-primary font-bold my-4 font-domine">
				Descobreix el lloc on comprar el teu menjar
			</p>
			<a href="#menu">
				<button
					class="my-4 py-2 px-4 font-medium text-font-primary bg-primary-600 rounded-full hover:contrast-200 hover:text-gray-200 transition"
				>
					Veure el menú
				</button>
			</a>
		</div>
	</div>
</Section>
