---
import { Image } from 'astro:assets';
import Typography from './wrappers/Typography.astro';
import Section from './wrappers/Section.astro';
---

<Section id="about" class="bg-white">
	<div class="flex flex-col lg:flex-row items-center">
		<div class="lg:w-1/2 mb-8 lg:mb-0 relative grid md:grid-cols-2 gap-2">
			<div class="rounded-3xl overflow-hidden hidden md:flex">
				<Image
					loading={'eager'}
					src="/images/rostidor.webp"
					alt="Rostidor exterior"
					width={400}
					height={600}
					class="w-full h-auto object-cover"
				/>
			</div>
			<div class="rounded-3xl overflow-hidden hidden md:flex">
				<Image
					loading={'eager'}
					src="/images/rostidor_interior.webp"
					alt="Restaurant interior"
					width={300}
					height={400}
					class="w-full h-auto object-cover rounded-3xl"
				/>
			</div>
			<div
				class="md:absolute md:w-30 md:h-30 md:top-[-40px] md:right-[-10px] bg-yellow-400 rounded-full shadow-lg border-4 justify-center"
			>
				<Image
					loading={'eager'}
					src="/images/svg.png"
					alt="Logo premi millor restaurant 2022"
					width={150}
					height={150}
					class="overflow-hidden rounded-full"
				/>
			</div>
		</div>
		<div class="lg:w-1/2 lg:pl-16">
			<Typography variant="h3">Sobre nosaltres</Typography>
			<Typography variant="h2">Descobreix qui som</Typography>
			<Typography variant="p">
				El 13 d’abril de 2002, el Rostidor obre les seves portes el vell
				mig de la Riera d’Arenys de Munt, de les mans de Pere Collet
				juntament amb els seus pares.
			</Typography>
			<Typography variant="p">
				En Pere nascut, gastronòmicament parlant, a l’Escola
				d’Hosteleria de Calella i Gremi de pastisseria de Barcelona i
				més de 20 anys d’experiència treballant amb coneguts restaurants
				com l’Hispania, el Sant Pau de Carme Ruscalleda, entre d’altres.
			</Typography>
			<Typography variant="p">
				Els pares, en Josep i la Rosa, han estat tota la vida en el
				sector i són uns bons amants i aficionats de la bona cuina,
				arribant a ser un puntal molt important en el negoci.
			</Typography>
			<Typography variant="p" class="text-primary-500">
				Actualment, El Rostidor, ha sigut guardonat amb el segell de
				"Millor botiga de menjar per emportar 2021" Moltes gràcies a
				tots!!
			</Typography>
		</div>
	</div>
</Section>
