---
import Layout from '@layouts/Layout.astro';
import Typography from '@components/wrappers/Typography.astro';
import Section from '@components/wrappers/Section.astro';
---

<Layout title="Politicas de privacidad">
	<header class="bg-slate-900 text-center py-8 text-white">
		<Typography variant="h3">Politicas</Typography>
		<Typography variant="h2"> De privacidad </Typography>
	</header>
	<Section class="bg-white text-left">
		<Typography variant="p" class="mb-6">
			Bienvenido a El Rostidor. Nos comprometemos a proteger la privacidad
			de nuestros clientes y usuarios. Esta Política de Privacidad explica
			cómo recopilamos, usamos y compartimos su información personal.
		</Typography>

		<Typography variant="h3"> Información que recopilamos </Typography>
		<Typography variant="p" class="my-6">
			Recopilamos la información que usted nos proporciona directamente,
			como cuando hace una reserva, se registra para recibir nuestras
			ofertas o se comunica con nosotros.
		</Typography>

		<Typography variant="h3">Uso de la información</Typography>
		<Typography variant="p" class="my-6">
			Utilizamos la información que recopilamos para proporcionar,
			mantener y mejorar nuestros servicios, así como para comunicarnos
			con usted sobre ofertas, servicios y eventos que puedan ser de su
			interés.
		</Typography>

		<Typography variant="h3"> Compartición de información </Typography>
		<Typography variant="p" class="my-6">
			No compartimos su información personal con terceros, excepto si es
			necesario para proporcionar nuestros servicios o si así lo exige la
			ley.
		</Typography>

		<Typography variant="h3"> Sus derechos</Typography>
		<Typography variant="p" class="my-6">
			Usted tiene derecho a acceder a su información personal, a solicitar
			correcciones y a pedir su eliminación. Para ejercer estos derechos,
			póngase en contacto con nosotros.
		</Typography>

		<Typography variant="h3"> Contacto</Typography>
		<Typography variant="p" class="my-6">
			Si tiene alguna pregunta sobre nuestra Política de Privacidad, puede
			contactar con nosotros en <a
				href="mailto:elrostidor@gmail.com"
				class="text-[#c8a97e] underline">elrostidor@gmail.com</a
			>.
		</Typography>
	</Section>
</Layout>
